/* IMPOSTAZIONI GENERALI */

*,
*::before,
*::after {
  box-sizing: border-box;
}

#sfondo {
  background-image: url("../img/sfondo.png");
  background-size: cover; /* Opzionale: regola la dimensione dell'immagine di sfondo */
  background-position: center;
}
h3 {
  text-transform: uppercase;
  margin: 1rem;
  font-weight: bold;
  text-align: center;
}
li {
  margin-bottom: 0.4rem;
  line-height: 1.2rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.2rem;
}

a {
  font-weight: bold;
  color: #009acb;
}

/* HEADER */
header {
  background-image: linear-gradient(180deg, #2895cd, #0b6d88);
  width: 90vw;
  margin-inline: auto;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 2rem;
  margin-top: 1rem;
  box-shadow: 1px 3px 5px #000000bd;

  /* chiaro : #2895cd */
  /* scuro: #0b6d88 */
}
header img {
  height: 50px;
}
header ul {
  list-style: none;
}

h1 {
  margin: 1rem;
}

/* MAIN */
main {
  width: 90vw;
  margin-top: 1rem;
  margin-inline: auto;
  background-color: white;
  box-shadow: 1px 3px 5px #000000bd;
  padding: 1rem;
}

/* ELEMENTI NEL MAIN - ARTICLE */
h2 {
  font-size: xx-large;
  font-weight: bold;
  line-height: 2.4rem;
  margin-bottom: 1rem;
}
h2 + p {
  color: gray;
}

span {
  font-weight: bold;
  color: #c62570;
  /* text-shadow: 1px 3px 5px #000000bd; */
}

main ul,
ol {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

code {
  display: inline-block;
  vertical-align: middle;
  background-color: #80808036;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  padding: 1px;
}

/* TABELLE */
caption {
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0.4rem;
}
table {
  border-bottom: 2px solid #386acd;
  margin-bottom: 1rem;
}
thead tr th {
  background-color: #386acd;
  color: white;
  padding: 1rem;
}

thead tr th:nth-child(2) {
  border-inline: 1px solid white;
}

tbody tr td {
  padding: 1rem;
}
tbody tr:nth-child(even) {
  background-color: #80808036;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
}

iframe {
  display: block;
  width: 90%;
  margin-inline: auto;
  margin-bottom: 1rem;
  border-radius: 20px;
}

/* FORM */
.box {
  width: 90%;
  background-color: #80808036;
  padding: 1rem;
  margin-inline: auto;
  margin-bottom: 1rem;
  border: 2px solid #c2c2c2;
}

form {
  width: 90%;
}

.box input {
  width: 70%;
  border: none;
  border-bottom: 1px dotted #386acd;
  padding: 0.5rem 0.2rem;
}
.box button {
  color: white;
  font-weight: bold;
  background-color: #386acd;
  border: none;
  padding: 0.4rem 0.2rem;
}

/* ELEMENTI NELL' ASIDE */
div.box p:nth-of-type(2) {
  text-align: end;
}
/* FOOTER */
